h2 {
    font-size: 55px;
    font-weight: 700;
}


.inner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    background: linear-gradient(to bottom, #000 5%, transparent 45%);
    width: 100%;
    color: #fff;

    z-index: 999;
    transition: 0.5s;
}

.header.on {
    background: #111;

}

.header:hover {
    background: #111;
}


.header img {}

.header .header_wrap {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header .header_wrap .gnb ul {
    display: flex;

}

.header .header_wrap .gnb ul>li {
    padding: 0 15px;
}

/* 슬라이더*/

.itm {
    height: 800px;

}

.mainvisual .itm01 {
    background: url(../images/section01_img01.jpg)no-repeat center center/cover;
}

.mainvisual .itm02 {
    background: url(../images/section01_img02.jpg)no-repeat center center/cover;
}

.mainvisual .itm03 {
    background: url(../images/section01_img03.jpg)no-repeat center center/cover;
}

.mainvisual .itm04 {
    background: url(../images/section01_img04.jpg)no-repeat center center/cover;
}

.mainvisual .itm05 {
    background: url(../images/section01_img05.jpg)no-repeat center center/cover;
}



.mainvisual .itm {
    position: relative;
    object-fit: cover;
    background-size: auto 130%;
}

.mainvisual .itm.on {
    background-size: auto 100%;
    transition: 4s;
}

.mainvisual .mainslide .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.mainvisual .mainslide .slick-dots>li {
    display: inline-block;
    margin: 0px 12px;
    width: 14px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);


    border-radius: 50%;
}

.mainvisual .mainslide .slick-dots li.slick-active {
    width: 18px;
    height: 18px;
    opacity: 1;
    background: #fff;
    margin: -2px 12px;
}

.mainvisual .mainslide .slick-dots button {
    display: none;
}

.maincontent {
    padding: 100px 0;
}


.maincontent .content_box01 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 0;
    align-items: center;

}

.maincontent .content_box01 i {
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
    transform: rotate();
    transition: 0.5s;

}

.maincontent .content_box01 i:hover {
    transform: rotate(180deg);
}




.maincontent .content_box02 p {
    font-size: 18px;
    font-weight: bold;
}


.maincontent .content_box02 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.maincontent .content_box02 img {
    height: 300px;
    margin: 0 0 15px 0;
}

.maintap {
    padding: 100px 0;
}


.maintap .tap .top {
    position: relative;
    z-index: 998;
}




.maintap .tap .top .tap_menu {
    position: absolute;
    top: 150px;
    display: flex;

    width: 100%;
    gap: 30px;
    z-index: 999;

}

.maintap .tap .top .tap_menu li {
    color: #888;
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    border-top: 2px solid #888;
    cursor: pointer;

}

.maintap .tap .tap_menu li.on {
    color: #fff;
    border-top: 2px solid #fff;
    transition: 0.5s;
}

.maintap .tap .bottom::before {
    content: "";
    position: absolute;

    display: block;
    background: linear-gradient(to bottom, #000 5%, transparent 80%);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.maintap .tap .bottom {
    position: relative;

}

.maintap .bottom .tap_detail .detail_box {
    position: relative;
}



.maintap .bottom .tap_detail .detail_box .text_box {
    position: absolute;
    top: 300px;
    z-index: 998;

}

.maintap .bottom h3 {
    font-size: 55px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 30px 0;

}

.maintap .bottom p {
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 20px;
    line-height: 1.6;
}

.maintap .bottom strong {
    display: block;
    font-size: 20px;
    color: #fff;
    margin: 0 0 15px 0;

}

.maintap .bottom span {
    position: relative;
    display: block;

    color: #fff;
    line-height: 40px;
    margin: 0 0 0 15px;


}


.maintap .bottom span::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);

    left: -15px;
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
}

.maintap .bottom .text .text_box a {

    display: inline-block;
    margin: 50px 0;
    color: #fff;
    border: 1px solid #999;
    padding: 12px 40px;
    transition: 0.5s;


}

.maintap .bottom .text .text_box a:hover {
    border: none;
    background: #ac8956;
}





.maintap .tap .tap_detail li {
    height: 0;
    overflow: hidden;

}

.maintap .tap .tap_detail li.on {
    height: auto;

}






/*DINING*/

.maindining {
    padding: 100px 0;

}

.maindining .dining {}

.maindining .dining .dining_wrapper {
    display: flex;
    background: linear-gradient(transparent 45%, #222 30%);
    padding: 0 0 100px 0;
}


.maindining .dining .dining_wrapper .title {
    width: 300px;
}

.maindining .dining .dining_wrapper .title h2 {
    margin: 0 0 30px 0;
}

.maindining .dining .dining_wrapper .title p {

    font-size: 17px;
    font-weight: 400;

}

.maindining .dining .dining_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 300px);
    gap: 30px;
}

.maindining .dining .dining_box img {
    margin: 0 0 40px 0;

}

.maindining .dining .dining_box h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 15px;
}

.maindining .dining .dining_box p {

    color: #999;
    font-weight: 400;
    line-height: 1.7;
}

.mainwedding {
    padding: 100px 0;
}

.mainwedding .wedding .title {
    margin: 0 0 60px 0;
}

.mainwedding .wedding .wedding_wrapper .img_box {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 30px;
}

.mainwedding .wedding .wedding_wrapper .img_box .text {
    position: absolute;
    padding: 0 30px;
    bottom: 40px;
}

.mainwedding .wedding .wedding_wrapper .img_box .text h3 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.mainwedding .wedding .wedding_wrapper .img_box .text p {
    font-size: 18px;
    color: #fff;
    font-size: 400;
    line-height: 1.6;
}

.footer .top {
    background: #333;
    padding: 80px 0;
}

.footer .top .top_box {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;

}



.footer .top .top_box .ft {
    padding: 30px 0 0 0;
    font-weight: 300;





}

.footer .top .top_box .ft li {
    color: #999;
    line-height: 40px;
    transition: 0.5s;
}

.footer .top .top_box .ft li:hover {
    color: #fff;
}

.footer .bottom {
    background: #111;
    padding: 40px 0;
}

.footer .bottom .bottom_box .box01 {
    display: flex;
    margin: 0 0 30px 0;
    gap: 30px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer .bottom .bottom_box .box01 strong {
    font-weight: 700;
}

.footer .bottom .bottom_box .box02 {
    margin: 0 0 30px 0;
}

.footer .bottom .bottom_box .box03 {
    justify-content: space-between;
    display: flex;
    color: #888;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.4;
}

.footer .bottom .bottom_box .box03 ul {
    display: flex;
    gap: 26px;
}

.footer .bottom .bottom_box .box03 ul>li {
    position: relative;
}

.footer .bottom .bottom_box .box03 ul>li~li::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);

    height: 14px;
    width: 1px;
    background: #888;
}

.footer .bottom .bottom_box .box03 .icon {
    color: #fff;
    font-size: 30px;
}
